<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <ul>
                <li class="title"><a href="javascript:void(0)">Каталоги</a></li>
                <li><a href="javascript:void(0)">Общий каталог</a></li>
                <li><a href="javascript:void(0)">Оригинальные каталоги</a></li>
                <li><a href="javascript:void(0)">Аксессуары</a></li>
                <li><a href="javascript:void(0)">Запчасти для ТО</a></li>
            </ul>
            <ul>
                <li class="title"><a href="javascript:void(0)">Масла и автохимия</a></li>
                <li><a href="javascript:void(0)">Масла моторные</a></li>
                <li><a href="javascript:void(0)">Масла трансмиссионные</a></li>
                <li><a href="javascript:void(0)">Жидкости для омывателя стекла</a></li>
                <li><a href="javascript:void(0)">Жидкости тормозные</a></li>
                <li><a href="javascript:void(0)">Жидкости охлаждающие</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <ul>
                <li class="title"><a href="javascript:void(0)">Автоэлектроника</a></li>
                <li><a href="javascript:void(0)">Лампы</a></li>
                <li><a href="javascript:void(0)">Аккумуляторы</a></li>
                <li><a href="javascript:void(0)">Предохранители</a></li>
            </ul>
            <ul>
                <li class="title"><a href="javascript:void(0)">Остальное</a></li>
                <li><a href="javascript:void(0)">Электрооборудование</a></li>
                <li><a href="javascript:void(0)">Автоаксессуары</a></li>
                <li><a href="javascript:void(0)">Щетки стеклоочистителя</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <ul>
                <li class="title"><a href="javascript:void(0)">Клиентам</a></li>
                <li><a href="javascript:void(0)">Акции</a></li>
                <li><a href="javascript:void(0)">Скидки</a></li>
                <li><a href="javascript:void(0)">Как сделать заказ</a></li>
                <li><a href="javascript:void(0)">Способы оплаты</a></li>
                <li><a href="javascript:void(0)">Условия доставки</a></li>
                <li><a href="javascript:void(0)">Условия работы</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <ul>
                <li class="title"><a href="javascript:void(0)">Компания</a></li>
                <li><a href="javascript:void(0)">Новости</a></li>
                <li><a href="javascript:void(0)">Магазины</a></li>
                <li><a href="javascript:void(0)">О компании</a></li>
                <li><a href="javascript:void(0)">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <a href="tel:88002047272" class="tel">8(800) 204-72-72</a>
            <a href="javascript:void(0)" class="call">Заказать звонок</a>

            <p class="addr">ООО “ТРЕНЛЗАП” <br>
                Москва, ул. Гурзуфская, д. 47Б, офис 120 <br>
                <a href="mailto:info@trendzap.ru">info@trendzap.ru</a>
            </p>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">
        <span>Copyright © 2019 TrendZap. Все права защищены</span>
        <span>Создание сайта <a href="javascript:void(0)">MondayStudio</a></span>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/perfect-scrollbar.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/wNumb.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
</body>
</html>