<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/libs/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/libs/nouislider.min.css">
    <link rel="stylesheet" href="css/libs/slick.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31485994-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-31485994-5');
    </script>
</head>
<body>

<header class="header">
  <div class="container">
      <a href="/" class="header__logo">
          <img src="img/logo.png" alt="">
      </a>
      <div class="header__center">
          <div class="header__menu">
              <div class="hamburger">
                  <span></span>
              </div>
              <span>Каталоги</span>
          </div>
          <form action="">
              <div class="form-group">
                  <input type="text" placeholder="Поиск детали по артикулу">
                  <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-search"></use></svg>
              </div>
              <button>Поиск</button>
          </form>
      </div>
      <div class="header__links">
          <a href="javascript:void(0)">
            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-head"></use></svg>
              <span>Войти</span>
          </a>
          <a href="javascript:void(0)">
            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-heart"></use></svg>
              <span>Избранное</span>
          </a>
          <a href="javascript:void(0)">
            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-cart"></use></svg>
              <span>Корзина</span>
          </a>
      </div>
  </div>
</header>

<section class="top-bar">
    <div class="container">
        <a href="javascript:void(0)">Доставка и оплата</a>
        <a href="javascript:void(0)">Скидки и акции</a>
        <a href="javascript:void(0)">Новинки</a>
        <a href="tel:88005820202">8 800 582-02-02</a>
        <a href="javascript:void(0)">Контакты</a>
        <a href="javascript:void(0)">Вопрос-ответ</a>
        <a href="javascript:void(0)">6 пунктов самовывоза</a>
    </div>
</section>

